$primary: darkblue;
$accent: orange;
$bg: white;
$bg-accent: lightgrey;
$disabled: grey;
$foreground: black;

body {
  font-family: monospace;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 30px;
  height: 100vh;
}

.quiz-container {

}
