$primary: darkblue;
$accent: orange;
$bg: white;
$bg-accent: lightgrey;
$disabled: grey;
$foreground: black;

body {
  font-family: monospace;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 30px;
  height: 100vh;
}

.quiz-container {
  width: 500px;
  background: $bg;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;
}

  .active-question-no {
    font-size: 30px;
    font-weight: 500;
    color: $primary;
  }

  .total-questions {
    font-size: 18px;
    color: $disabled;
  }

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }

  ul {
    margin-top: 30;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none; 
      color: $foreground;
      font-size: 16px;
      background: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;

    }
  }

  